<div data-hook="admin_gift_card_form_fields" class="row clearfix">
  <div class="col-md-5">
    <%= f.field_container :variant_id do %>
      <%= f.label :variant_id, Spree.t(:value) %> <span class="required">*</span><br/>
      <%= f.select :variant_id, variants_values(@gift_card_variants), {}, class: 'form-control' %>
    <% end %>
  </div>

  <div class="col-md-5">
    <%= f.field_container :enabled do %>
      <%= f.label :enabled %>
      <%= f.check_box :enabled %>
    <% end %>
  </div>

</div>
